<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 , user-scalable=no">
	<title>火车出行行程安排Demo</title>
	<script src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular.min.js"></script>
	<script src="http://apps.bdimg.com/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<link rel="stylesheet" href="http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body ng-app="myApp">
<div class="billboard" ng-controller="myCtrl">
	<h2>NG火车行程表</h2>
    
	<ul  class="city clearfix">
		<li ng-repeat="p in data"> 				
			<place-detail my-city="{{p.place}}" city-id="{{p.id}}" city-index="{{$index}}" city-status="{{p.status}}"></place-detail>
		</li>
	</ul>
	
    
	
        <!--<label for="choose">请选择起始站:</label>-->
        <!--<select  id="choose" ng-model="mySelect" ng-change="selectValue()" ng-options="a.id as a.place for a in data">
            <option value="" >--选择起点--</option>
        </select><br>-->
<div class="slider" ng-class="{'slideTop':toTop,'slideDown':toBottom}">
		<div class="btnCollect">
			<div class="start" ng-click="display()">{{message}}</div><br />
			<button ng-click="prev()" >上一站</button>
			<button ng-click="next()">下一站</button>	
		</div>
	<div class="mask">
	<ul  class="clearfix">
		<h3>始发站</h3>
		<li ng-repeat="p in data" ng-if="p.show"> 				
			<place-list my-city="{{p.place}}" city-id="{{p.id}}" city-fn="selectValue($index)" we-first="{{p.first}}" city-index="{{$index}}" del-fn="myDelete(event,$index)" my-cut="{{myCut}}" ></place-list>
		</li>
	</ul>
	<h3>修改地点</h3>
	<input type="text" ng-model="place" ng-show="addValue">
	<div class="modify" ng-click="add()" ng-model="addadd" ng-show="!addadd">+</div>
	<div class="modify" ng-click="push()" ng-model="myPush" ng-show="myPush">√</div>
	<div class="modify" ng-click="cut()" ng-model="cutcut" ng-show="!cutcut">-</div>
	<div class="modify" ng-click="cancel()" ng-model="myCancel" ng-show="myCancel">X</div>
	</div>
	</div>
</div>

<script src="app.js"></script>
</body>
</html>