<!DOCTYPE html>
<html lang="zh-cn" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Demo</title>
	<script src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular.min.js"></script>
	<style>
	.selected{color:red;}
	</style>
</head>
<body ng-controller="goodsList">
购物车
<ul >
	<li ng-repeat="thing in goods">
		{{$index}}
		<span ng-bind="thing.title"></span>
		<span ng-bind="thing.price"></span>
		<input type="text" ng-model="thing.quantity" />
		<span>{{thing.quantity*thing.price|currency}}</span>
	</li>
</ul>
<div>合计:{{bill.totalCart|currency}}</div>
<div>

	
	<label >满200减20：<span ng-hide="!check">$20</span></label>
	<input type="checkbox" ng-model="check"/>
</div>
<div>优惠后:{{bill.subtotal|currency}}</div>
<script>
angular.module('myApp',[])
	.controller('goodsList',function($scope){
		//录入数据
		$scope.goods=[
			{
				title: 'cat',
				price: 50,
				quantity: 0
			},
			{
				title: 'dog',
				price: 50,
				quantity: 0
			},
			{
				title: 'mouse',
				price: 50,
				quantity: 0
			},
			{
				title: 'elephant',
				price: 50,
				quantity: 0
			}
		];
		$scope.bill = {};
		$scope.$watch(function(){
			var total = 0;
			angular.forEach($scope.goods,function(data,index,array){
				total += array[index].price * array[index].quantity;
			});
			$scope.bill.totalCart = total;
			$scope.bill.subtotal = $scope.check && total>200?total-20:total;
		})
	});	

</script>

</body>
</html>
